 .speech {
    font-family: 'Times New Roman', Times, serif, san-serif; 
    font-size: 16px;
    color: black;

 }

 .direction {
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: Black;
    background-color: aliceblue;
 }

 .direction:hover{
    background-color: green;
    color: red;
 }

 .Orestes{color: darkcyan; }
 .Electra{color:darkgreen; }
 .Chorous{color:darkblue; }
 .Clytemnestra{color: darkorange;}
 table{
   width: 50%;
   border-collapse: collapse;
 }
 

table {
   width: 100%;
   border-collapse: collapse; 
   margin-top: 20px; 
}

th, td {
   padding: 10px; 
   text-align: left; 
   border: 1px solid #ddd; 
}

th {
   background-color: #f4f4f4; 
   font-weight: bold; 
}

tr:nth-child(even) {
   background-color: #f9f9f9;
}

tr:nth-child(odd) {
   background-color: #ffffff;
}

tr:hover {
   background-color: #e2e2e2;
}

.name:hover {
   text-shadow: 2px 2px 5px rgba(0, 157, 255, 0.7);
   border: 2px solid blue; 
   padding: 2px; 
}

.bottom-navbar {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #333;
   text-align: center;
   padding: 10px 0;
 }
 
 .bottom-navbar a {
   color: white;
   margin: 0 15px;
   text-decoration: none;
   font-size: 18px;
 }
 
 .bottom-navbar a:hover {
   color: #ff6347; 
 } 