 .speech {
    font-family: Arial, san-serif; 
    font-size: 18px;
    color: black;

 }

 .direction {
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: Black;
    background-color: aliceblue;
 }

 .direction:hover{
    background-color: green;
    color: red;
 }

 .Oresters{color: darkred; }
 .Electra{color:darkgreen; }
 .Chorous{color:darkblue; }

 table{
   width: 50%;
   border-collapse: collapse;
 }
 th,td {
   border: 1px solid black;
   padding: 5px;
   text-align: left;
 }
 th{
   background-color: darkmagenta;
 }
